<h1> - COCKTAILS - </h1>
<p><%= link_to "Add a new cocktail", new_cocktail_path %></p>

<ul><% @cocktails.each do |cocktail| %>
  <li><h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3></li>
<% end %></ul>

<!-- style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(< %= cocktail.url %>);" -->
